.my-div {
  font-family: 'Your Chosen Font', sans-serif;
}

.login-container {
    max-width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 50px;
  }

  h1 {
    margin-left: 45%;
    color: #091876;
  }

  h2 {
    color: #091876;
    margin-left: 40%;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #091876;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
  }
  
  .btn1 {
    margin-left: 40%;
    background-color: #091876;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  .regBtn {
    margin-top: 10px;
    margin-left: 38%;
    background-color: #091876;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  .container {
    max-width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 50px;
}

form {
    max-width: 300px;
    margin: 0 auto;
}

.h2 {
  margin-left: 10%;
    text-align: center;
    color: #091876;
}

.label {
    display: block;
    margin: 10px 0 5px;
    color: #091876;
}

.gotoregBtn {
  margin-top: 10px;
  margin-left: 37%;
  background-color: #040e4c;
  color: white;
  padding: 6px 17px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.gotoLogInBtn {
  margin-top: 10px;
  margin-left: 42%;
  background-color: #040e4c;
  color: white;
  padding: 6px 17px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button2 {
  margin-left: 40%;
  background-color: #091876;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.errorMsg {
  color: red;
}

.button2:hover {
    background-color: #0867a7;
}
.btn1:hover {
    background-color: #0867a7;
}
.regBtn:hover {
    background-color: #2c178b;
}
.gotoregBtn:hover{
  background-color: #2c178b;
}
.gotoLogInBtn:hover{
  background-color: #2c178b;
}

footer {
  background-color: #2c178b;
  color: #fff; 
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 1515px;
}

.footer-content {
  max-width: 960px; 
  margin: 0 auto;
}
