<div class="my-div">
  <div *ngIf="showStudent">
    <app-success></app-success>
  </div>

  <div *ngIf="showAdmin">
    <app-admin></app-admin>
  </div>

  <div *ngIf="showInstructor">
    <app-instuctor></app-instuctor>
  </div>

  <div *ngIf="!hideRegisterForm">
    <div *ngIf="!isAuthenticated" >
      <h1>SchoolApp</h1>
      <div class="login-container">
        <h2>Login</h2>
        <form (ngSubmit)="onSubmit()">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" [(ngModel)]="user_name" required>

          <label for="password">Password:</label>
          <input type="password" id="password" name="password" [(ngModel)]="pass_word" required>

          <div class="errorMsg" *ngIf="formSubmitted && (!user_name || !pass_word)">
            Please enter both username and password.
          </div>

          <div class="errorMsg" *ngIf="authenticationError">
            {{ authenticationError }}
          </div>

          <button class="btn1" type="submit">Login</button>
          <button class="gotoregBtn" (click)="register()">Register</button>
        </form>
      </div>
    </div>
    <footer>
      <div class="footer-content">
        <p>Made by EL BADRI ACHRAF</p>
      </div>
    </footer>  
  </div>

  <div *ngIf="showRegisterForm">
    <h1>SchoolApp</h1>
    <div class="container">
      <form id="registrationForm" (ngSubmit)="onSubmit2()">
          <h2 class="h2">Registration</h2>
          <label class="label" for="username">Username:</label>
          <input class="input" type="text" id="username" name="username" [(ngModel)]="username" required>
          
          <label class="label" for="email">Email:</label>
          <input class="input" type="email" id="email" name="email" [(ngModel)]="email" required>
          
          <label class="label" for="password">Password:</label>
          <input class="input" type="password" id="password" name="password" [(ngModel)]="password" required>
          
          <label class="label" for="fullName">Full Name:</label>
          <input class="input" type="text" id="fullname" name="fullname" [(ngModel)]="fullname" required>

          <div class="errorMsg" *ngIf="formSubmitted && (!username || !password || !email || ! fullname)">
            All fields are required
          </div>
          
          <button class="button2" type="submit">Register</button>
          <button class="gotoLogInBtn" (click)="logIn()">LogIn</button>
      </form>
    </div>
    <footer>
      <div class="footer-content">
        <p>Made by EL BADRI ACHRAF</p>
      </div>
    </footer>  
  </div>
</div>