<div *ngIf="logOut">
    <app-root></app-root>
  </div>
  
  <div *ngIf="!showCours">
    <div class="header">
          <a class="logo">SchoolApp</a>
          <div>instructor</div>
          <div class="header-right">
            <a (click)="LogOutfunction()" class="active">LogOut</a>
          </div>
      </div>
      <div *ngIf="!showContent">
        <div class="center-h1">
          <h1>Menu</h1>
        </div>
        <div class="buttons-container" >
          <button class="button1" (click)="showButton1()">Cours List</button>
          <button class="button2" (click)="showButton2()">Progress</button>
          <button class="button3" (click)="showButton3()">Students List</button>
        </div>
      </div>
    <div>
        <div *ngIf="showContent">
          <div *ngIf="selectedButton === 1">
            <div *ngIf="!showContent2">
              <div class="center-h1">
                <h1>Cours Menu</h1>
              </div>
              <button class="goBackBtn" (click)="goBackFunc()">Go Back</button>
              <div class="buttons-container">
                <button class="button1" (click)="searchCourses()">Search Cours</button>
                <button class="button2" (click)="listCourses()">Del/List Courses</button>
                <button class="button2" (click)="addCourse()">Add cours</button>
              </div>
            </div>
            <div *ngIf="searchOrList === 1">
              <div class="center-h1">
                <h1>Search Courses</h1>
              </div>
              <button class="goBackBtn" (click)="goBackFunc()">Go Back</button>
              
              <div class="search-container">
                <label for="search">Search by Name:</label>
                <input type="text" id="search" [(ngModel)]="searchTerm" (input)="onSearch()">
              </div>
  
              <div>
                <h3>Search Results:</h3>
                <div *ngFor="let cour of filteredCourses">
                  <table>
                    <thead>
                      <tr>
                        <th>Cours name</th>
                        <th>Instructor</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let cour of filteredCourses">
                        <td>{{ cour.name }}</td>
                        <td>{{ cour.prof }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>        
  
            <div *ngIf="showAllList">
              <table>
                <thead>
                  <tr>
                    <th>Cours name</th>
                    <th>Instructor</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cour of cours">
                    <td>{{ cour.name }}</td>
                    <td>{{ cour.prof }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
  
            </div>
            <div *ngIf="searchOrList === 2">
              <div class="center-h1">
                <h1>Del/List Courses</h1>
              </div>
              <button class="goBackBtn" (click)="goBackFunc()">Go Back</button>
              <table>
                <thead>
                  <tr>
                    <th>Cours name</th>
                    <th>Instructor</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cour of cours">
                    <td>{{ cour.name }}</td>
                    <td>{{ cour.prof }}</td>
                    <td>
                      <button class="delbutton" (click)="deleteCour(cour.id)">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            
            <div *ngIf="searchOrList === 3">
              <button class="goBackBtn" (click)="goBackFunc()">Go Back</button>
              <div class="container">
                <form id="registrationForm" (ngSubmit)="addCours()">
                    <h2 class="h2">Add Cours</h2>
                    <label class="label" for="name">Cour Name:</label>
                    <input class="input" type="text" id="name" name="name" [(ngModel)]="name" required>
                    
                    <label class="label" for="email">Instructor:</label>
                    <input class="input" type="email" id="email" name="email" [(ngModel)]="prof" required>
            
                    <div class="errorMsg" *ngIf="formSubmitted && (!name || !prof)">
                      All fields are required
                    </div>
                    
                    <button class="btn2" type="submit">Add</button>
                </form>
              </div>
            </div>
          </div>

          <div *ngIf="selectedButton === 2">
            <div class="center-h1">
              <h1>Progress Menu</h1>
            </div>
            <button class="goBackBtn" (click)="goBackFunc()">Go Back</button>
            <table>
              <thead>
                <tr>
                  <th>module</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let progress of progresses">
                  <td>{{ progress.module }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div *ngIf="selectedButton === 3">     
            <div *ngIf="!showTheStdList">       
              <div class="center-h1">
                <h1>Students List</h1>
              </div>
              <button class="goBackBtn" (click)="goBackFunc()">Go Back</button>
              <table>
                <thead>
                  <tr>
                    <th>username</th>
                    <th>email</th>
                    <th>role</th>
                    <th>full_name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let student of filteredStudents">
                    <td>{{ student.username }}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.role }}</td>
                    <td>{{ student.full_name }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>