<div *ngIf="logOut">
  <app-root></app-root>
</div>

<div *ngIf="!showCours">
  <div class="header">
        <a class="logo">SchoolApp</a>
        <div>student</div>
        <div class="header-right">
          <a (click)="LogOutfunction()" class="active">LogOut</a>
        </div>
    </div>
    <div *ngIf="!showContent">
      <div class="center-h1">
        <h1>Menu</h1>
      </div>
      <div class="buttons-container" >
        <button class="button1" (click)="showButton1()">Cours List</button>
        <button class="button2" (click)="showButton2()">Progress</button>
      </div>
    </div>
  <div>
      <div *ngIf="showContent">
        <div *ngIf="selectedButton === 1">
          <div *ngIf="!showContent2">
            <div class="center-h1">
              <h1>Cours Menu</h1>
            </div>
            <button class="goBackBtn" (click)="goBackFunc()">Go Back</button>
            <div class="buttons-container">
              <button class="button1" (click)="searchCourses()">Search Cours</button>
              <button class="button2" (click)="listCourses()">List All courses</button>
            </div>
          </div>
          <div *ngIf="searchOrList === 1">
            <div class="center-h1">
              <h1>Search Courses</h1>
            </div>
            <button class="goBackBtn" (click)="goBackFunc()">Go Back</button>
            
            <div class="search-container">
              <label for="search">Search by Name:</label>
              <input type="text" id="search" [(ngModel)]="searchTerm" (input)="onSearch()">
            </div>

            <div>
              <h3>Search Results:</h3>
              <div *ngFor="let cour of filteredCourses">
                <table>
                  <thead>
                    <tr>
                      <th>Cours name</th>
                      <th>Instructor</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let cour of filteredCourses">
                      <td>{{ cour.name }}</td>
                      <td>{{ cour.prof }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>        

          <div *ngIf="showAllList">
            <table>
              <thead>
                <tr>
                  <th>Cours name</th>
                  <th>Instructor</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cour of cours">
                  <td>{{ cour.name }}</td>
                  <td>{{ cour.prof }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          </div>
          <div *ngIf="searchOrList === 2">
            <div class="center-h1">
              <h1>Courses List</h1>
            </div>
            <button class="goBackBtn" (click)="goBackFunc()">Go Back</button>
            <table>
              <thead>
                <tr>
                  <th>Cours name</th>
                  <th>Instructor</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cour of cours">
                  <td>{{ cour.name }}</td>
                  <td>{{ cour.prof }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div *ngIf="selectedButton === 2">          
        <div class="center-h1">
          <h1>Progress Menu</h1>
        </div>
          <button class="goBackBtn" (click)="goBackFunc()">Go Back</button>
          <table>
            <thead>
              <tr>
                <th>module</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let progress of filteredProgreses">
                <td>{{ progress.module }}</td>
                <td>{{ progress.status }}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>